<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="keepgoing.demo.domain.diet.mapper.DietMapper">

    <resultMap id="DietResultMap" type="keepgoing.demo.domain.diet.entity.Diet">
        <id property="id" column="diet_id"/>
        <result property="memberId" column="member_id"/>
        <result property="date" column="date"/>
        <result property="mealTime" column="meal_time"/>
        <result property="carbohydrate" column="carbs"/>
        <result property="protein" column="protein"/>
        <result property="fat" column="fat"/>
        <result property="sugars" column="sugars"/>

        <collection property="foods" ofType="keepgoing.demo.domain.diet.entity.Food">
            <result property="code" column="food_code"/>
            <result property="name" column="food_name"/>
        </collection>
    </resultMap>

    <select id="findAllByDate" resultMap="DietResultMap">
        SELECT
        d.id,            d.member_id,
        d.date,
        d.meal_time,
        d.energy, d.protein, d.fat, d.carbohydrate, d.sugars, d.sodium,

        f.code AS food_code,
        f.name AS food_name,
        f.dataTypeName,
        f.energy AS f_energy,
        f.protein AS f_protein
        FROM diet d
        LEFT JOIN diet_food_mapping m ON d.id = m.diet_id  LEFT JOIN food f ON m.food_code = f.code
        WHERE d.member_id = #{memberId}
        AND d.date = #{date}
    </select>

    <insert id="saveAiReport">
        INSERT INTO ai_report (member_id, date, score, feedback_text, recommend_json)
        VALUES (#{memberId}, #{date}, #{score}, #{feedbackText}, #{recommendJson})
    </insert>

    <select id="selectDiet" resultType="keepgoing.demo.domain.diet.entity.Diet">
        SELECT *
        FROM diet
        WHERE
            member_id = #{memberId} AND
            date = #{date} AND
            meal_time= #{mealTime}
    </select>
    
    <update id="updateDietNutrients">
        UPDATE diet
        SET energy = energy + #{diet.energy},
            water = water + #{diet.water},
            protein = protein + #{diet.protein},
            fat = fat + #{diet.fat},
            carbohydrate = carbohydrate + #{diet.carbohydrate},
            sugars = sugars + #{diet.sugars},
            sodium = sodium + #{diet.sodium}

        WHERE id = #{dietId}
    </update>
    

    <insert id="insertDiet" useGeneratedKeys="true" keyProperty="diet.id">
        INSERT INTO diet (member_id,
                          date,
                          meal_time,
                          energy,
                          water,
                          protein,
                          fat,
                          carbohydrate,
                          sugars,
                          sodium)
        VALUES (#{memberId},
                #{diet.date},
                #{diet.mealTime},
                #{diet.energy},
                #{diet.water},
                #{diet.protein},
                #{diet.fat},
                #{diet.carbohydrate},
                #{diet.sugars},
                #{diet.sodium})
    </insert>

    <insert id="insertFoodMappings" parameterType="java.util.List">
        INSERT INTO diet_food_mapping (
        diet_id, food_code
        )
        VALUES
        <foreach collection="foods" item="food" separator=",">
            (
            #{dietId},
            #{food.code} )
        </foreach>
    </insert>
    <insert id="insertHydration">
        INSERT INTO hydration_record(member_id,
                                     water_amount,
                                     date)
        VALUES (#{hydrationRecord.memberId}, #{hydrationRecord.waterAmount}, #{hydrationRecord.date})
            ON DUPLICATE KEY
        UPDATE
            water_amount = #{hydrationRecord.waterAmount}

    </insert>

</mapper>