<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="keepgoing.demo.domain.diet.mapper.DietMapper">

    <resultMap id="SimpleFoodResultMap"
               type="keepgoing.demo.domain.diet.entity.Food"
               autoMapping="false">

        <id property="code" column="code"
            javaType="java.lang.String"
            jdbcType="VARCHAR"/>

        <result property="name" column="name"/>
        <result property="dataTypeName" column="data_type_name"/>
        <result property="middleCategoryName" column="middle_category_name"/>
        <result property="foodWeight" column="food_weight"/>
        <result property="servingSize" column="serving_size"/>
        <result property="energy" column="energy"/>
        <result property="water" column="water"/>
        <result property="protein" column="protein"/>
        <result property="fat" column="fat"/>
        <result property="carbohydrate" column="carbohydrate"/>
        <result property="sugars" column="sugars"/>
        <result property="sodium" column="sodium"/>

    </resultMap>

    <resultMap id="DietWithFoodsResultMap"
               type="keepgoing.demo.domain.diet.entity.Diet"
               autoMapping="false">

        <id property="id" column="id"/>
        <result property="memberId" column="member_id"/>
        <result property="date" column="date"/>
        <result property="mealTime" column="meal_time"/>
        <result property="energy" column="energy"/>
        <result property="water" column="water"/>
        <result property="carbohydrate" column="carbohydrate"/>
        <result property="protein" column="protein"/>
        <result property="fat" column="fat"/>
        <result property="sugars" column="sugars"/>
        <result property="sodium" column="sodium"/>

        <collection property="foods"
                    resultMap="SimpleFoodResultMap"
                    columnPrefix="food_"
                    notNullColumn="code"/>
    </resultMap>

    <select id="findAllByDate" resultMap="DietWithFoodsResultMap">
        SELECT
            -- 1. Diet 테이블 필드
            d.id,
            d.member_id,
            d.date,
            d.meal_time,
            d.energy,
            d.water,
            d.carbohydrate,
            d.protein,
            d.fat,
            d.sugars,
            d.sodium,

            -- 2. Food 테이블 필드 (code와 name만 선택, 'food_' 접두사 별칭 사용)
            f.code               AS food_code,
            f.name               AS food_name,
            f.dataTypeName       AS food_data_type_name,
            f.middleCategoryName AS food_middle_category_name,
            f.foodWeight         AS food_food_weight,
            f.servingSize        AS food_serving_size,
            f.energy             AS food_energy,
            f.water              AS food_water,
            f.protein            AS food_protein,
            f.fat                AS food_fat,
            f.carbohydrate       AS food_carbohydrate,
            f.sugars             AS food_sugars,
            f.sodium             AS food_sodium

        FROM diet d
                 LEFT JOIN
             diet_food_mapping dfm ON d.id = dfm.diet_id
                 LEFT JOIN
             food f ON dfm.food_code = f.code
        WHERE d.member_id = #{memberId}
          AND d.date = #{date}
        ORDER BY
            -- 식사 시간 순서로 정렬
            CASE d.meal_time
                WHEN '아침' THEN 1
                WHEN '점심' THEN 2
                WHEN '저녁' THEN 3
                WHEN '간식' THEN 4
                ELSE 5
                END,
            f.code
    </select>
    <select id="selectDiet" resultType="keepgoing.demo.domain.diet.entity.Diet">
        SELECT *
        FROM diet
        WHERE member_id = #{memberId}
          AND
            date = #{date}
          AND
            meal_time= #{mealTime}
    </select>


    <insert id="insertDiet" useGeneratedKeys="true" keyProperty="diet.id">
        INSERT INTO diet (member_id,
                          date,
                          meal_time,
                          energy,
                          water,
                          protein,
                          fat,
                          carbohydrate,
                          sugars,
                          sodium)
        VALUES (#{memberId},
                #{diet.date},
                #{diet.mealTime},
                #{diet.energy},
                #{diet.water},
                #{diet.protein},
                #{diet.fat},
                #{diet.carbohydrate},
                #{diet.sugars},
                #{diet.sodium})
    </insert>

    <select id="selectHydration">
        SELECT water_amount
        FROM hydration_record
        WHERE member_id = #{memberId}
          AND
            date = #{date}
    </select>

    <insert id="insertHydration">
        INSERT INTO hydration_record(member_id,
                                     water_amount,
                                     date)
        VALUES (#{hydrationRecord.memberId}, #{hydrationRecord.waterAmount}, #{hydrationRecord.date}) ON DUPLICATE KEY
        UPDATE
            water_amount = #{hydrationRecord.waterAmount}

    </insert>

    <insert id="saveAiReport" parameterType="keepgoing.demo.domain.diet.entity.AiReport">
        INSERT INTO ai_report (
        member_id,
        date,
        score,
        `rank`,
        feedback_text,
        total_calories,
        exercise_json
        )
        VALUES (
        #{memberId},
        #{date},
        #{score},
        #{rank},
        #{feedbackText},
        #{totalCalories},
        #{exerciseJson}
        )
        ON DUPLICATE KEY UPDATE
        score = #{score},
        `rank` = #{rank},
        feedback_text = #{feedbackText},
        total_calories = #{totalCalories},
        exercise_json = #{exerciseJson}
    </insert>

    <insert id="insertFoodMappings" parameterType="java.util.List">
        INSERT INTO diet_food_mapping (
        diet_id, food_code, servings
        )
        VALUES
        <foreach collection="foods" item="food" separator=",">
            (
            #{dietId},
            #{food.code},
            #{food.servings})
        </foreach>
    </insert>

    <select id="selectEvaluationsByMonth" resultType="keepgoing.demo.domain.diet.dto.DailyEvaluationDto">
        SELECT member_id AS memberId, date, `rank`
        FROM daily_evaluation
        WHERE member_id = #{memberId}
          AND DATE_FORMAT(date
            , '%Y') = #{year}
          AND DATE_FORMAT(date
            , '%m') = #{month}
    </select>

    <insert id="upsertEvaluation">
        INSERT INTO daily_evaluation (
            member_id,
            date,
            `rank`
        ) VALUES (
                     #{memberId},
                     #{date},
                     #{rank}
                 )
            ON DUPLICATE KEY UPDATE
                                 `rank` = #{rank},
                                 updated_at = CURRENT_TIMESTAMP
    </insert>

    <update id="updateDietNutrients">
        UPDATE diet
        SET energy       = #{diet.energy},
            water        = #{diet.water},
            protein      = #{diet.protein},
            fat          = #{diet.fat},
            carbohydrate = #{diet.carbohydrate},
            sugars       = #{diet.sugars},
            sodium       = #{diet.sodium}
        WHERE id = #{dietId}
    </update>

    <delete id="deleteFoodMappings">
        DELETE
        FROM diet_food_mapping
        WHERE diet_id = #{dietId}
    </delete>


</mapper>