<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="keepgoing.demo.domain.member.mapper.MemberMapper">

    <select id="findById" resultType="keepgoing.demo.domain.member.entity.Member">
        SELECT
        id,
        name,
        height,
        weight,
        age,
        gender,
        activity,
        goal,
        health_condition,
        allergies,
        disliked_food,
        target_weight,
        -- ▼▼▼ [여기 추가] 콤마(,) 잊지 마세요! ▼▼▼
        level,
        exp,
        current_points
        FROM member
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="keepgoing.demo.domain.member.entity.Member">
        UPDATE member
        SET height = #{height},
        weight = #{weight},
        activity = #{activity},
        goal = #{goal},
        target_weight = #{targetWeight}
        WHERE id = #{id}
    </update>

    <select id="findByEmail" resultType="keepgoing.demo.domain.member.entity.Member">
        SELECT
        id,
        email,
        password,
        name,
        role,
        height,
        weight,
        age,
        gender,
        activity,
        goal,
        health_condition,
        allergies,
        disliked_food,
        target_weight,
        level,
        exp,
        current_points
        FROM member
        WHERE email = #{email}
    </select>

    <insert id="save" parameterType="keepgoing.demo.domain.member.entity.Member" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (
        email, password, name, role,
        height, weight, age, gender, activity, goal,
        health_condition, allergies, disliked_food, target_weight,
        level, exp, current_points
        ) VALUES (
        #{email}, #{password}, #{name}, #{role},
        #{height}, #{weight}, #{age}, #{gender}, #{activity}, #{goal},
        '없음', '없음', '없음', 0.0, -- 초기값 설정 (null 방지)
        1, 0, 0
        )
    </insert>
</mapper>