<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="keepgoing.demo.domain.member.mapper.MemberMapper">
    <!--Start Weight -->
    <select id="findWeightByMemberId">
        SELECT id,
               member_id,
               weight,
               diff, date, memo
        FROM weight_log
        WHERE member_id = #{memberId} AND
            date = #{date}
    </select>

    <select id="findWeightLogsByMemberId"
            resultType="keepgoing.demo.domain.member.entity.WeightLog">
        <![CDATA[
        SELECT
            id,
            member_id,
            weight,
            diff,
            date,
            memo
        FROM weight_log
        WHERE member_id = #{memberId}
          AND date <= #{date}
        ORDER BY date DESC
            LIMIT 5
        ]]>
    </select>

    <select id="findLatestWeightLogBeforeDate" resultType="keepgoing.demo.domain.member.entity.WeightLog">
    <![CDATA[
        SELECT
            id, member_id, weight, diff, date, memo
        FROM weight_log
        WHERE member_id = #{memberId}
          AND date < #{date}       ORDER BY date DESC
            LIMIT 1
        ]]>
</select>

    <insert id="insertWeightLog">
        INSERT INTO weight_log (member_id, weight, diff, date, memo)
        VALUES (#{memberId}, #{weight}, #{diff}, #{date}, #{memo})
    </insert>

    <update id="updateWeightLog">
        UPDATE weight_log
        SET
            weight = #{weight},
            diff = #{diff},
            memo = #{memo},
            recorded_at = NOW()  -- 기록 일시 업데이트
        WHERE member_id = #{memberId} AND date = #{date}
    </update>

    <!--End Weight -->


    <select id="findById" resultType="keepgoing.demo.domain.member.entity.Member">
        SELECT
            id,
            email,          password,       name,
            role,           height,
            weight,
            age,
            gender,
            activity,
            goal,
            health_condition,
            allergies,
            disliked_food,
            target_weight,
            target_water,
            level,
            exp,
            current_points,
            refresh_token   FROM member
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="keepgoing.demo.domain.member.entity.Member">
        UPDATE member
        SET height = #{height},
            weight = #{weight},
            activity = #{activity},
            goal = #{goal},
            target_weight = #{targetWeight}
        WHERE id = #{id}
    </update>

    <select id="selectWightListByMemberId">
        SELECT
            date,
            weight,
            diff,
            memo
        FROM weight_log
        WHERE member_id= #{memberId}
    </select>

    <select id="findByEmail" resultType="keepgoing.demo.domain.member.entity.Member">
        SELECT
            id,
            email,
            password,
            name,
            role,
            height,
            weight,
            age,
            gender,
            activity,
            goal,
            health_condition,
            allergies,
            disliked_food,
            target_weight,

            target_water,  level,
            exp,
            current_points,
            refresh_token
        FROM member
        WHERE email = #{email}
    </select>

    <update id="updateRefreshToken">
        UPDATE member
        SET refresh_token = #{refreshToken}
        WHERE id = #{id}
    </update>

    <insert id="save" parameterType="keepgoing.demo.domain.member.entity.Member" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (
            email,
            password,
            name,
            role,
            height,
            weight,
            age,
            gender,
            activity,
            goal,
            target_weight,
            target_water,
            health_condition,
            allergies,
            disliked_food,
            level,
            exp,
            current_points,
            created_at
        ) VALUES (
                     #{email},
                     #{password},
                     #{name},
                     #{role},
                     #{height},
                     #{weight},
                     #{age},
                     #{gender},
                     #{activity},
                     #{goal},
                     #{targetWeight},
                     #{targetWater},
                     #{healthCondition},
                     #{allergies},
                     #{dislikedFood},
                     1,
                     0,
                     0,
                     NOW()
                 )
    </insert>

    <update id="updateExp">
        UPDATE member
        SET
            level = #{level},
            exp = #{exp}
        WHERE id = #{memberId}
    </update>
</mapper>